<div class="container-fluid">
    <div class="container">
        <canvas class="default-chart"></canvas>
        
    </div>

    <div class="container">
        <button id="renderBtn">
            Test Chart
        </button>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>

</div>



