<!--Table-->
<div class="container-fluid list-box border border-dark border-1 mt-5 text-bg-light" id="list" style="width:100% !important">
    <table class="table table-striped dt-responsive responsive no-wrap" id="list-table" style="width:100% !important">
        <thead>
            <tr>
                <th></th>
                <th class="all">Title</th>
                <th class="all">Time</th>
                <th class="all">Date</th>
                <th class="none">
                    <i class="bi bi-tags"></i>
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
