<div class="dropdown">
    <button type="button" class="btn bg-transparent dropdown-toggle ps-0 border-0" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      Login
    </button>
    <form class="dropdown-menu dropdown-menu-lg p-4 text-bg-light" action="/auth/login" method="post">
      <div class="mb-3">
        <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
        <input type="email"  name="username" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
        <input type="password" name="password"  class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
      </div>
        <button type="submit" class="btn btn-dark">Sign in</button>
    </form>
  </div>