<nav class="navbar navbar-expand-lg mb-4 top-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">time tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <% if(title == "Home"){ %>
                <a class="nav-link">
                    <%- include('loginForm.ejs') %>
                </a>
                <a class="nav-link">
                    <%- include('registerForm.ejs') %>
                </a>
            <% } %>
            <% if(title == "Dashboard") {%>
                <a class="nav-link" href="/auth/logout">Logout</a>
            <% } %>
            <a class="nav-link" href="#">About</a>
        </div>
      </div>
    </div>
  </nav>