<nav class="navbar navbar-expand-lg py-1 px-3 bg-white border border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pt-2" href="/auth/">
            <h1 class="gradient-text">time tracker</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if(title == "Home"){ %>
                <li class="nav-item">
                    <%- include('loginForm.ejs') %>
                </li>
                <li class="nav-item">
                    <%- include('registerForm.ejs') %>
                </li>
            <% } %>
            <% if(title == "Dashboard") {%>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>