<nav class="navbar navbar-expand-lg pb-2 bg-transparent text-dark">
  <div class="container-fluid px-1">
    <ul class="nav navbar-nav w-60">
      <span>
        <button class="navbar-toggler text-dark border-0 p-1" type="button" data-bs-toggle="collapse" data-bs-target="#top-nav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">time tracker</a>
      </span>
    </ul>
    <div class="collapse navbar-collapse" id="top-nav">
      <ul class="list-inline mt-1 mb-0 d-flex align-items-center ps-1">
        <% if(title == "Home"){ %>
        <li class="nav-item dropdown pe-3">
          <%- include('loginForm.ejs') %>
        </li>
        <li class="nav-item pe-3">
          <%- include('registerForm.ejs') %>
        </li>
        <% } %>
        <% if(title == "Dashboard") {%>
        <li class="nav-item pe-3">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <% } %>
        <li class="nav-item pe-3">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right align-self-baseline">
      <div class="navbar-buttons container-fluid d-flex flex-nowrap">
        <%if(title=='Dashboard'){%>
          <div class="btn-group btn-group-lg pe-1" role="group">
            <button type="button" class="btn active btn-outline-dark" id="dashboard-button" autocomplete="off" checked>
              <i class="fa-solid fa-stopwatch"></i>
            </button>
            <button type="button" class="btn btn-outline-dark" id="charts-button" autocomplete="off">
              <i class="fa-solid fa-chart-pie"></i>
            </button>
            <button type="button" class="btn btn-outline-dark" id="list-button" autocomplete="off">
              <i class="fa-solid fa-list"></i>
            </button>
          </div>
        <%}%>
      </div>
    </ul>

  </div>
</nav>