<div class="dropdown">
  <button type="button" class="btn bg-transparent dropdown-toggle ps-0 border-0" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    Register
  </button>
  <form class="dropdown-menu p-4 text-bg-light" action="/auth/signup" method="post">
      <div class="mb-3">
      <label for="username" class="form-label">Email address</label>
      <input type="email"  name="username" class="form-control" id="username" placeholder="email@example.com">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" name="name"  class="form-control" id="name" placeholder="Name">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password"  class="form-control" id="password" placeholder="Password">
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" name="confirmPassword"  class="form-control" id="confirmPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-dark">Register</button>
  </form>
</div>