<div class="card text-center">
  <div class="card-header">Track Time</div>
    <div class="card-body align-items-center justify-content-center">
    <!--Title Input-->
    <div class="d-flex flex-column">
      <div class="px-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
          </div>
          <input type="text" id='title' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <!--Category Input-->
      <div class="px-2">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Category</span>
          </div>
          <input type="text" id='category' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <!--Time Container-->
    <div id="timerContainer">
      <div class="timer" onclick="startTimer()">Start Timer!</div>
      <div class="startTimer reset" onclick="startTimer()" >
      <i class="fas fa-play"></i>
    </div>
    <div class="pauseTimer reset" onclick="pauseTimer()" >
      <i class="fas fa-pause"></i>
    </div>
    <div class="resetTimer reset" onclick="resetTimer()">Reset</div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="send()">
      Send!
    </button>
  </div>
</div>
  <!--End Card-->