<div class="text-bg-light rouned border mb-auto border-dark border-1 shadow-box" id="timer-box">
  <ul class="nav nav-tabs timer-navs" id="timer-navs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active link-dark fw-semibold py-1" id="timer-tab" data-bs-toggle="tab" data-bs-target="#timer-tab-pane" type="button" role="tab" aria-controls="timer-tab-pane" aria-selected="true">
        Timer
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link link-dark fw-semibold py-1" id="add-tab" data-bs-toggle="tab" data-bs-target="#add-tab-pane" type="button" role="tab" aria-controls="add-tab-pane" aria-selected="false">
        Manual
      </button>
    </li>
  </ul>
  <!--TIMER INPUT-->
  <div class="tab-content bg-white border-bottom border-start border-end" id="tab-content">
    <div class="tab-pane fade show active p-1" id="timer-tab-pane" role="tabpanel" aria-labelledby="timer-tab" tabindex="0">
      <form>
        <!--Title, Project & Tags-->
        <div class="d-flex flex-wrap">
          <!--Title Input-->
          <div class="input-group input-group-md mb-1">
            <span class="input-group-text border-secondary">
                <i class="fa-solid fa-pen-to-square fa-fw"></i>
            </span>
            <input type="text" id="new-title" class="form-control border-secondary validate" maxlength="30" placeholder="Title" onfocusout="checkValidInput('add-title')" required>
            <div class="invalid-feedback">
              Please add a title.
            </div>
          </div>

          <!--Project Input-->
          <div class="input-group input-group mb-1">
            <span class="input-group-text border-secondary">
              <i class="fa-regular fa-folder-open fa-fw"></i>
            </span>
            <select class="form-select project-input" name="new-project" id="new-project" data-placeholder="Project" required></select> 
            <div class="invalid-feedback">
              Please add a project.
            </div>
          </div>
          <!--Tags Input-->
          <div class="input-group input-group mb-1">
            <span class="input-group-text border-secondary">
              <i class="fa-solid fa-tags fa-fw"></i>
            </span>
            <select class="form-select w-auto" name="new-tags" id="new-tags" data-placeholder="Tags" multiple></select>
          </div>
        </div>
        <!--Timer-->
        <div class="container-sm timer-controls rounded m-auto mb-0">
          <div class="card-header border-bottom border-2 border-dark-subtle align-items-center text-dark m-0">
            <div class="timer" onclick="startTimer()">
              <span class="text timer-digits text-secondary" id="timer-digits">00:00:00</span>
            </div>
          </div>   
          <div class="card-body d-flex justify-content-around align-items-center">
            <div class="container-fluid text-dark d-flex flex-nowrap justify-content-around mx-2 p-0">
              <div class="startTimer reset timer-controls" onclick="startTimer()">
                <i class="fas fa-play"></i>
              </div>
              <div class="pauseTimer reset timer-controls px-1" onclick="pauseTimer()">
                <i class="fas fa-pause"></i>
              </div>
              <div class="resetTimer reset timer-controls" onclick="resetTimer()">
                <i class="fa-solid fa-rotate-right"></i>
              </div> 
            </div>
            <div class="vr border border-dark border-1"></div>
            <button type="button" value="" class="btn fs-1 floppy ps-2" onclick="send('new')">
              <i class="fa-solid fa-floppy-disk"></i>
            </button>  
          </div>
        </div>
      </form>
    </div>

    <!--ADD INPUT-->
    <div class="tab-pane fade p-1" id="add-tab-pane" role="tabpanel" aria-labelledby="add-tab" tabindex="0">
      
      <!--Title Input-->
      <div class="input-group input-group-md mb-1">
        <span class="input-group-text border-secondary">
            <i class="fa-solid fa-pen-to-square fa-fw"></i>
        </span>
        <input type="text" id="add-title" class="form-control border-secondary validate" maxlength="30" placeholder="Title" onfocusout="checkValidInput('add-title')" required>
        <div class="invalid-feedback">
          Please add a title.
        </div>
      </div>

      <!--Project Input-->
      <div class="input-group input-group mb-1">
        <span class="input-group-text border-secondary">
          <i class="fa-regular fa-folder-open fa-fw"></i>
        </span>
        <select class="form-select rounded project-input" name="add-project" id="add-project" data-placeholder="Project" required>
          <option selected disabled value=""></option>    
        </select>
        <div class="invalid-feedback">
          Please add a project.
        </div>
      </div>
      
      <!--Tags Input-->
      <div class="input-group input-group-md flex-nowrap mb-1">
        <span class="input-group-text border-secondary">
            <i class="fa-solid fa-tags fa-fw"></i>
        </span>
        <select class="form-select" name="add-tags" id="add-tags" data-placeholder="Tags" multiple></select>
      </div>

      <!--Date/Time Container-->


      <div class="row g-0">
        <div class="col d-flex flex-nowrap">
          <div class="input-group">
            <span class="input-group-text border-secondary rounded-end-0">
              <i class="fa-solid fa-calendar-days fa-fw"></i>
            </span>
            <input type="date" class="form-control validate rounded-0 border-secondary border-end-0" id="add-date" placeholder="mm/dd/yyyy" onfocusout="checkValidInput('add-date')" required>
            <div class="invalid-feedback">
              Please add the date.
            </div>
          </div>
        </div>
        <div class="col d-flex flex-nowrap">
          <div class="input-group">
            <span class="input-group-text border-secondary rounded-0">
              <i class="fa-solid fa-stopwatch fa-fw"></i>
            </span>
            <input class="form-control border-secondary rounded rounded-start-0 text-start validate" name="time-input" id="add-time" type="tel" dir="rtl" placeholder="00:00:00" onfocusout="checkValidInput('add-time')" required>
            <div class="invalid-feedback">
              Please add total time.
            </div>
          </div>

        </div>
      </div>
      <!--Submit Button-->
      <div class="container-fluid d-flex justify-content-end">
        <button type="button" id="" class="btn shadow-button fs-6" value="" onclick="send('add')">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
