<div class="stopwatch">
 <div class="border border-dark border-1 text-bg-light rouned m-auto shadow-box" id="timer-box">
    <div class="container">

      <ul class="nav nav-tabs timer-navs" id="timer-navs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active link-dark fw-semibold" id="timer-tab" data-bs-toggle="tab" data-bs-target="#timer-tab-pane" type="button" role="tab" aria-controls="timer-tab-pane" aria-selected="true">
            Stopwatch
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link link-dark fw-semibold" id="add-tab" data-bs-toggle="tab" data-bs-target="#add-tab-pane" type="button" role="tab" aria-controls="add-tab-pane" aria-selected="false">
            Add
          </button>
        </li>
      </ul>
      
      <!--TIMER INPUT-->
      <div class="tab-content bg-white border-bottom border-start border-end" id="tab-content">
        <div class="tab-pane fade show active p-1" id="timer-tab-pane" role="tabpanel" aria-labelledby="timer-tab" tabindex="0">
          <form>
            <!--Title & Tags-->
            <div class="d-flex flex-wrap">
              <!--Title Input-->
              <div class="input-group input-group mb-1">
                <span class="input-group-text border-secondary">
                  <i class="fa-solid fa-pen-to-square"></i>
                </span>
                <input type="text" class="form-control border-secondary" id="new-title" aria-describedby="title-feedback" maxlength="25" placeholder="Title" onfocusout="checkValidInput('new-title')">
                <div class="invalid-feedback" id="title-feedback">
                  Please Enter A Title
                </div>
              </div>
              <!--Tags Input-->
              <div class="input-group input-group mb-1">
                <span class="input-group-text border-secondary">
                  <i class="fa-solid fa-tags"></i>
                </span>
                <select class="form-select w-auto" name="new-tags" id="new-tags" data-placeholder="Tags" multiple>
                </select>
              </div>
            </div>
            <!--Timer-->
              <div class="container rounded m-auto mb-0">
                <div class="card-header border-bottom border-2 border-dark-subtle align-items-center text-dark m-0 py-1">
                  <div class="timer" onclick="startTimer()">
                    <span class="text timer-digits text-secondary" id="timer-digits">00:00:00</span>
                  </div>
                </div>   
  
                <div class="card-body d-flex justify-content-around align-items-center">
                  <div class="container-fluid text-dark d-flex flex-nowrap justify-content-around mx-2 p-0">
                    <div class="startTimer reset timer-controls" onclick="startTimer()">
                      <i class="fas fa-play"></i>
                    </div>
                    <div class="pauseTimer reset timer-controls px-1" onclick="pauseTimer()">
                      <i class="fas fa-pause"></i>
                    </div>
                    <div class="resetTimer reset timer-controls" onclick="resetTimer()">
                      <i class="fa-solid fa-rotate-right"></i>
                    </div> 
                  </div>
                  <div class="vr border border-dark border-1"></div>
                  <button type="button" class="btn fs-1 floppy" onclick="send('timer')">
                    <i class="fa-solid fa-floppy-disk"></i>
                  </button>  
                </div>
              </div>
          </form>
        </div>

        <!--ADD INPUT-->
        <div class="tab-pane fade p-1" id="add-tab-pane" role="tabpanel" aria-labelledby="add-tab" tabindex="0">
          <!--Title Input-->
          <div class="input-group input-group-md mb-1">
            <span class="input-group-text border-secondary">
                <i class="fa-solid fa-pen-to-square"></i>
            </span>
            <input type="text" id="add-title" class="form-control border-secondary" aria-describedby="title-feedback" maxlength="25" placeholder="Title" onfocusout="checkValidInput('add-title')">
            <div class="invalid-feedback" id="title-feedback">
              Please Enter A Title
            </div>
          </div>
          <!--Tags Input-->
          <div class="input-group input-group-md flex-nowrap mb-1">
            <span class="input-group-text border-secondary">
                <i class="fa-solid fa-tags"></i>
            </span>
            <select class="form-select" name="add-tags" id="add-tags" data-placeholder="Tags" multiple>
            </select>
          </div>
          <!--Date Input-->
          <div class="input-group input-group-md flex-grow-1 mb-1">
            <span class="input-group-text border-secondary">
                <i class="fa-solid fa-calendar-days"></i>
            </span>
            <input type="date" class="form-control border-secondary" id="add-date" aria-describedby="date-feedback" onfocusout="checkValidInput('add-date')">
            <div class="invalid-feedback" id="date-feedback">
              Please Enter A Date
            </div>
          </div>
          <!--Time Input-->
          <div class="input-group input-group-md w-auto mb-1">
            <span class="input-group-text border-secondary">
                <i class="fa-solid fa-stopwatch"></i>
            </span>
                <input class="form-control border-secondary text-start" name="time-input" id="add-time" type="tel" dir="rtl" placeholder="00:00:00" aria-describedby="time-feedback" onfocusout="checkValidInput('add-time')">
                <div class="invalid-feedback" id="time-feedback">
                  Please Enter A Time
                </div>
              </div>
          <!--Submit Button-->
          <div class="container-fluid d-flex justify-content-end">
            <button type="button" id="" class="btn shadow-button fs-6" value="" onclick="send('add')">
              Save
            </button>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>