<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
    <title>Home</title>
    </head>
      <%- include('partials/navbar.ejs') %>
    <body>
      <main>
        <div class="outer-container">
            <div class="about-container rounded">
                <h1 class="display-1 my-0 text-capitalize" id="tagline">
                    About This Project
                </h1>
                Created by Lindsay Kislingbury. 
                Check out my writeup about the development process.
                
            </div>
        </div>
      </main>
        <%- include('partials/footer.ejs') %>
    </body>
</html>