<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
    <title>Home</title>
    </head>
      <%- include('partials/navbar.ejs') %>
    <body>
      <main>
        <div class="outer-container">
            <div class="container-fluid d-flex justify-content-center">
                <div class="about-container rounded mt-3 mx-3">
                    <h1 class="display-1 my-0 text-capitalize" id="tagline">
                        About This Project
                    </h1>
                    <p class="pt-2 fw-semibold text-center w-100">
                        Created by Lindsay Kislingbury 2023. 
                    </p> 
                    <div class="social-container">
                        <a href="https://lindsay-kislingbury.github.io/"><img src ="/img/blackSquare.svg" width="24" height="24"></a>
                        <a href="https://github.com/lindsay-kislingbury/Time-Tracker"><i class="fa-brands fa-github"></i></href>
                        <a href="https://linkedin.com/in/lindsay-kislingbury"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="mailto:lindsaykislingbury@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                    </div>
                    <p>
                        Check out my writeup about the development process on my website.<br>
                    </p>    
                </div>           
            </div>
        </div>
      </main>
    </body>
</html>