<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
      <title>Dashboard</title> 
    </head>
    <%- include('partials/navbar.ejs') %>
    <body>
      <main>
        <div class="container" id="outer-container">
          <%- include('partials/dashboard-nav.ejs') %>
        </div>
      </main>
    <%- include('partials/footer.ejs') %>
    <script type = "text/javascript" src = "/js/stopwatch.js"></script>
    <script type = "text/javascript" src="/js/content.js"></script>
  </body>
</html>