<!DOCTYPE html>
<html>
    <head>
      <%- include('partials/head.ejs') %>
    </head>
    <body>
      <div class="cardcontainer">
        <div class= "titlecontainer">Welcome <%- user %>!</div>
        <div class="imgcontainer">
            <img src="/img/cat.jpg" alt="cat" class="avatar">
        </div>
                 
        </div>  
    </body>
</html>