<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
    <title>Home</title>
    </head>
      <%- include('partials/navbar.ejs') %>
    <% if(message != "valid"){ %>
      <div class="container-sm">
        <div class="alert alert-danger rounded-0 border-white bg-transparent alert-dismissible fade show d-flex align-items-center" role="alert">
              <div class="container-sm text-center"><%- message %></div>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
      </div>
    <% } %>
    <body>
      <main>
        <div class="container-sm text-left ps-4 my-5 py-5">
          <h1 class="display-1 my-0 text-capitalize" id="tagline"><span class="colored-text title-text">track time</span> <br>
          for any reason, anywhere.</h1>
          <p>Track time spent on activities  </p>
          <div class="container px-0 mx-0">
            <button type="button" class="btn shadow-button" id="quick-start-button">
              Quick Start
            </button>
          </div>
        </div>
        

      </main>
        <%- include('partials/footer.ejs') %>
        <script type = "text/javascript" src = "/js/index-helpers.js"></script>
    </body>
</html>