<!DOCTYPE html>
<html>
    <head>
      <link rel ="stylesheet" href="/css/styles.css" type="text/css">
        <title>Time Tracker</title>
    </head>
    <body>
        <form action="/auth">
            <div class="imgcontainer">
              <img src="img/cat.jpg" alt="cat" class="avatar">
            </div>
            <div class="formcontainer">
              <label><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
              <label><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <input type="submit" value="Submit">
          </form>   
          <div class="registercontainer">
            <a href="#" class="registerbtn" role="button">Register</a>
          </div>       
    </body>
</html>