<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
      <title>Login</title>
    </head>
    <%- include('partials/navbar.ejs') %>
    <body class = "auth-container">
      <main>
        <%- include('partials/loginForm.ejs'); %>
      </main>
        <%- include('partials/footer.ejs') %>
    </body>
</html>