<!DOCTYPE html>
<html>
    <head>
      <link rel ="stylesheet" href="/css/styles.css" type="text/css">
        <title>Time Tracker</title>
    </head>
    <body>
        <form action="/auth/login" method="post">
            <div class="imgcontainer">
              <img src="img/cat.jpg" alt="cat" class="avatar">
            </div>
            <div class="formcontainer">
              <label><b>Email</b></label>
              <input type="email" placeholder="Enter Email" name="username" required> <br>
              <label><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <input type="submit" value="Submit">
          </form>   
          <div class="registercontainer">
            <a href="#" class="registerbtn" role="button">Register</a>
          </div>       
    </body>
</html>