<!DOCTYPE html>
<html>
    <head>
      <%- include('partials/head.ejs') %>
    </head>
    <body>
      <div class="cardcontainer">
        <form action="/auth/login" method="post">
          <div class= "titlecontainer"><%- title %></div>
            <div class="imgcontainer">
              <img src="img/sleepingcat.jpg" alt="cat" class="avatar">
            </div>
            <label><b>Email</b></label><br>
            <input type="email" placeholder="Enter Email" name="username" required>
            <br>
            <label><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br>
            <input type="submit" value="Submit">
            <br><br>
            <a href="/register">click here to register</a>
          </form>      
        </div>  
    </body>
</html>