<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
      <title>Register</title>
    </head>
    <body class = "auth-container">
      <%- include('partials/navbar.ejs') %>
      <main>
        <%- include('partials/registerForm.ejs'); %>
      </main>
        <%- include('partials/footer.ejs') %>
    </body>
</html>