<!DOCTYPE html>
<html>
    <head>
      <%- include('partials/head.ejs') %>
      
      <title>Time Tracker</title>
    </head>
    <body>
      <div class = "outer-container">
        <div class="card-container">
          <li class= "title-container">
            <h1>Time Tracker</h1>
          </li>
          <li class="img-container">
            <img src="/img/nerdcat.jpg" alt="cat" class="avatar">
          </li>
          <li class = "stopwatch-container">
            <div id = "stopwatch">
              <div class="time">
                <span id="minute">00</span>
                <span id="second">00</span>
                <span id="ms">00</span>
               </div>
               <button id = 'startButton'><img src = "/img/play.png" style = "width:50px;"></button>
               <button id = 'stopButton'><img src = "/img/stop.png" style = "width:50px;"></button><br>
               <button id = 'sendButton'>SEND</button>
              </div>
          </li>
        </div>  
      </div>
      <!--Javascript-->
      <script type = "text/javascript" src = "/js/stopwatch.js"></script>
    </body>
</html>