
/*Global*/
.hidden {
  display: none;
}
html{
  height: 100%;
  width: 100%;
  background-color: #BC4D5F;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  position:fixed;
  background-image: url("data:image/svg+xml,%3Csvg id='visual' preserveAspectRatio='none' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23FFFFFF'%3E%3C/rect%3E%3Cpath d='M0 192L30 209.8C60 227.7 120 263.3 180 276.7C240 290 300 281 360 280.2C420 279.3 480 286.7 540 279.5C600 272.3 660 250.7 720 254.3C780 258 840 287 870 301.5L900 316L900 601L870 601C840 601 780 601 720 601C660 601 600 601 540 601C480 601 420 601 360 601C300 601 240 601 180 601C120 601 60 601 30 601L0 601Z' fill='%23fabb4d'%3E%3C/path%3E%3Cpath d='M0 259L30 271C60 283 120 307 180 309.3C240 311.7 300 292.3 360 289.3C420 286.3 480 299.7 540 301C600 302.3 660 291.7 720 298C780 304.3 840 327.7 870 339.3L900 351L900 601L870 601C840 601 780 601 720 601C660 601 600 601 540 601C480 601 420 601 360 601C300 601 240 601 180 601C120 601 60 601 30 601L0 601Z' fill='%23f59b4e'%3E%3C/path%3E%3Cpath d='M0 398L30 394.2C60 390.3 120 382.7 180 371.7C240 360.7 300 346.3 360 357.2C420 368 480 404 540 406C600 408 660 376 720 356.2C780 336.3 840 328.7 870 324.8L900 321L900 601L870 601C840 601 780 601 720 601C660 601 600 601 540 601C480 601 420 601 360 601C300 601 240 601 180 601C120 601 60 601 30 601L0 601Z' fill='%23e97d54'%3E%3C/path%3E%3Cpath d='M0 438L30 432.3C60 426.7 120 415.3 180 419.2C240 423 300 442 360 440C420 438 480 415 540 407.5C600 400 660 408 720 411.3C780 414.7 840 413.3 870 412.7L900 412L900 601L870 601C840 601 780 601 720 601C660 601 600 601 540 601C480 601 420 601 360 601C300 601 240 601 180 601C120 601 60 601 30 601L0 601Z' fill='%23d6635a'%3E%3C/path%3E%3Cpath d='M0 547L30 535.8C60 524.7 120 502.3 180 490.2C240 478 300 476 360 476.5C420 477 480 480 540 492.3C600 504.7 660 526.3 720 529.5C780 532.7 840 517.3 870 509.7L900 502L900 601L870 601C840 601 780 601 720 601C660 601 600 601 540 601C480 601 420 601 360 601C300 601 240 601 180 601C120 601 60 601 30 601L0 601Z' fill='%23bc4d5f'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-position:center ;
  background-attachment: fixed;
}

h2{
  font-size: 1.3rem !important;
  font-family: 'Outfit', sans-serif !important;
}

p, table{
  font-family: 'Rubik', sans-serif !important;
}

.top-nav{
  background-color: transparent;
}

.input-group{
  font-family: 'Rubik', sans-serif;
}

/*Title Page*/
.shadow-button{
  font-family: 'Rubik', sans-serif !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  background-color: #2660a4 !important;
  color: #FFFFFF !important;
  box-shadow: 2px 2px 0 #000;
}

button:active:focus {
  outline: none !important;
}

.display-1{
  font-family: 'Outfit', sans-serif !important;
  font-size: 2rem !important;
  font-weight: 900 !important;
}

/*Navbar*/
.navbar-brand{
  font-family: 'Outfit', sans-serif !important;
  font-size: 1rem;
  color: #d5838c;
}

#tagline{
  color:#000;
}

.colored-text{
  font-family: 'Outfit', sans-serif !important;
  font-weight: 900;
  font-size: 3rem;
  color: #bc4d5f;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

/*Footer*/
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/*Outer Containers*/
#dashboard-container{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#charts-container{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Dashboard Nav*/
#name-text{
  font-family: 'Outfit', sans-serif;
  color:#d5838c;
  letter-spacing: .1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: 900;
  font-size: 2rem !important;
  font-weight: 900;
}

.nav-pills .nav-link{/*active button*/
  margin: 0 2px 0 2px;
  padding: 0 15px 0 15px;
  font-size: 1.7rem;
  border-radius: 2px;
  box-shadow: none !important;
  background-color: #6e94d6 !important;  
}

.nav-pills .nav-link:not(.active) {/*not active button*/
  background-color: #2660a4 !important;
  box-shadow: 2px 2px 0 #000 !important;
  color: white !important;
  transform: translateY(-4px);
  
}

#styled-tab-content .tab-content {/*tab content*/
  background-color: transparent;
  padding : 5px 15px;
}

/*Timer*/
#timer-box{
  box-shadow: -3px 3px 0 #292b2c;
  width: fit-content;
}



.timer, .reset {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  cursor: pointer;
  font-family: 'Rubik', sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.floppy{
  color: #6e94d6 !important;
  text-shadow:
      2px 2px 0 #000,
    -.5px -.5px 0 #000,  
      .5px -.5px 0 #000,
      -.5px .5px 0 #000,
      .5px .5px 0 #000;
}

/*Select2 Overrides*/
.select2-selection{
  border-color: #6c757d !important;
  border-width: 1px !important;
  font-size: 1rem !important;
}

.select2-results__option--selected {
  background-color: #e6e7e7 !important;
  color: #212529 !important;
}

.select2-results__option--highlighted[aria-selected] {
  background-color: #e6e7e7 !important;
  color: #212529 !important; 
}

.select2-container *:focus {
  outline: none !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered{
  display: flex !important;
  width: fit-content !important;
}


/*Stamps Table*/
#stamps{
  max-height: 80vh;
  overflow-x: auto;
}

.badge-secondary{ /*Tag badges*/
  font-weight: 300 !important;
  background-color: #2660A4 !important;
}

/*Edit Modal*/
.form-control{
  font-size: 1rem !important;
  font-family: 'Rubik', sans-serif !important;
}

/*Media Breakpoints*/
/*Phones, Tablets*/
@media only screen and (min-width:320px)  {
  #dashboard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
  }
  #timer-box{
    padding: 7px;
  }
  #table{
    margin-top: 5px !important;
    margin-left: 0px !important;
  }
  .edit-inputs{
    flex-direction: column !important;
    flex: wrap !important;
  }
  #outer-container{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

/*Desktop*/
@media (min-width:768px)  {
  #dashboard-container{
    display: flex;
    flex-wrap: nowrap;
  }
  #timer-box{
    padding: 10px !important;
  }
  .edit-inputs{
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }
  #table{
    margin-top: 0 !important;
    margin-left: 5px !important;
  }
}











