
/*Global*/
.hidden {
  display: none !important;
}
html{
  height: 100%;
  width: 100%;
  background-color: #BC4D5F;
  scroll-behavior: smooth;
}


body{
  height: 100%;
  width: 100%;
  margin: 0;
  position:fixed;
  background-size: cover;
  background-position:center ;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23ffffff'%3E%3C/rect%3E%3Cpath d='M0 164L90 179L180 304L270 218L360 123L450 78L540 164L630 298L720 136L810 260L900 231L900 601L810 601L720 601L630 601L540 601L450 601L360 601L270 601L180 601L90 601L0 601Z' fill='%23f7b538'%3E%3C/path%3E%3Cpath d='M0 185L90 298L180 105L270 317L360 240L450 361L540 258L630 225L720 147L810 273L900 170L900 601L810 601L720 601L630 601L540 601L450 601L360 601L270 601L180 601L90 601L0 601Z' fill='%23f5a139'%3E%3C/path%3E%3Cpath d='M0 261L90 353L180 303L270 238L360 361L450 279L540 312L630 302L720 359L810 267L900 301L900 601L810 601L720 601L630 601L540 601L450 601L360 601L270 601L180 601L90 601L0 601Z' fill='%23f08d3d'%3E%3C/path%3E%3Cpath d='M0 272L90 254L180 423L270 415L360 265L450 321L540 233L630 309L720 308L810 315L900 298L900 601L810 601L720 601L630 601L540 601L450 601L360 601L270 601L180 601L90 601L0 601Z' fill='%23e97a42'%3E%3C/path%3E%3Cpath d='M0 452L90 298L180 425L270 430L360 305L450 330L540 380L630 467L720 317L810 362L900 404L900 601L810 601L720 601L630 601L540 601L450 601L360 601L270 601L180 601L90 601L0 601Z' fill='%23df6846'%3E%3C/path%3E%3Cpath d='M0 424L90 508L180 447L270 492L360 361L450 466L540 454L630 387L720 461L810 377L900 469L900 601L810 601L720 601L630 601L540 601L450 601L360 601L270 601L180 601L90 601L0 601Z' fill='%23d2574b'%3E%3C/path%3E%3Cpath d='M0 499L90 540L180 453L270 446L360 538L450 441L540 448L630 517L720 495L810 429L900 521L900 601L810 601L720 601L630 601L540 601L450 601L360 601L270 601L180 601L90 601L0 601Z' fill='%23c4474e'%3E%3C/path%3E%3Cpath d='M0 574L90 537L180 557L270 584L360 500L450 505L540 520L630 552L720 574L810 495L900 549L900 601L810 601L720 601L630 601L540 601L450 601L360 601L270 601L180 601L90 601L0 601Z' fill='%23b33951'%3E%3C/path%3E%3C/svg%3E");
}

/*Hide Scrollbar*/
#recent-table::-webkit-scrollbar, #wrapper-index::-webkit-scrollbar {
  display: none; /* for Chrome, Safari and Opera */
}

#recent-table, #wrapper-index{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Index*/
.scrolling-page{
  height: 90vh;
  overflow-y: auto;
}


h2{
  font-size: 1.3rem !important;
  font-family: 'Outfit', sans-serif !important;
}


p, table{
  font-family: 'Rubik', sans-serif !important;
}
.index-card-body{
  font-family: 'Roboto Mono', monospace !important;
  background-color: rgba(248, 249, 250, 0.4) !important;
}
.index-card-header{
  font-family: 'Rubik', sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.3rem !important;
}




.input-group{
  font-family: 'Rubik', sans-serif;
}

.dropdown-menu{
  border-width: 1px !important;
  border-color: #000 !important;
  inset: -2px auto auto 0px !important;
}



.hide{
  display: none !important;
}

/*Title Page*/
.shadow-button{
  font-family: 'Rubik', sans-serif !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  background-color: #2660a4 !important;
  color: #FFFFFF !important;
  box-shadow: 2px 2px 0 #000;
}

button:active:focus {
  outline: none !important;
}

.display-1{
  font-family: 'Outfit', sans-serif !important;
  font-size: 2rem !important;
  font-weight: 900 !important;
}

/*Navbar*/
nav a.navbar-brand{
  font-family: 'Outfit', sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}
nav a{
  text-decoration: none !important;
  font-family: 'Roboto Mono', monospace;
  color: #000;
}
nav a:hover{
  font-weight: 600 !important;
}

#reigsterModal, #loginModal{
  font-family: 'Rubik', sans-serif !important;
}

#tagline{
  color:#000;
}

.colored-text{
  font-family: 'Outfit', sans-serif !important;
  font-weight: 900;
  font-size: 3rem;
  color: #bc4d5f;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.dropdown-menu{
  width: max-content !important;
}

/*Footer*/
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/*Outer Containers*/
#outer-container{
  padding: 0px;
}

#wrapper-dashboard{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}


#wrapper-charts{
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  height: 100%;
}

#list{
  font-family: 'Rubik', sans-serif !important;
}

#list-table{
  width: 100%;
  overflow-y: auto;
}

table.dataTable > tbody > tr.child span.dtr-title{
  min-width: fit-content !important;
  margin-right:4px !important;
}

table.dataTable.dtr-column > tbody > tr > td.dtr-control::before, table.dataTable.dtr-column > tbody > tr > th.dtr-control::before, table.dataTable.dtr-column > tbody > tr > td.control::before, table.dataTable.dtr-column > tbody > tr > th.control::before{
  content: '+' !important;
}

table.dataTable.dtr-column > tbody > tr > td.dtr-control::before, table.dataTable.dtr-column > tbody > tr > th.dtr-control::before, table.dataTable.dtr-column > tbody > tr > td.control::before, table.dataTable.dtr-column > tbody > tr > th.control::before{
  color: black !important;
}

.pagination>li{
  font-family: 'Rubik', sans-serif !important;
  font-weight: 600 !important;
}

.pagination>li>a,
.pagination>li>span {
  color:black !important;
  border: 1px solid black !important;
  border: 1px solid #426DAC !important;
}
.pagination>li.active>a {
  background: #426DAC;
  border: 1px solid #426DAC !important;
  color: #fff !important;
}



/*Dashboard Nav*/
#name-text{
  font-family: 'Outfit', sans-serif;
  color:#d5838c;
  letter-spacing: .1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: 900;
  font-size: 2rem !important;
  font-weight: 900;
}

.btn-group .nav-link{/*active button*/
  padding: 2px 8px 2px 8px !important;
  margin: 3px 2px 0px 2px;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: none !important;
  background-color: #6e94d6 !important;  
}

.btn-group .nav-link:not(.active) {/*not active button*/
  background-color: #2660a4 !important;
  box-shadow: 2px 2px 0 #000 !important;
  color: white !important;
  transform: translateY(-4px);
}

#styled-tab-content .tab-content {
  background-color: transparent;
}

/*Timer*/
.shadow-box{
  box-shadow: -3px 3px 0 #292b2c;
}

.timer-controls{
  max-width: 300px !important;
}

.timer-navs{
  font-family: 'Outfit', sans-serif !important;
}

.timer-digits{
  font-size: 2rem !important;
}

.timer-controls{
  font-size: 1.7rem !important;
}

.timer, .reset {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 600 !important;
}

.floppy{
  color: #6e94d6 !important;
  text-shadow:
      2px 2px 0 #000,
    -.5px -.5px 0 #000,  
      .5px -.5px 0 #000,
      -.5px .5px 0 #000,
      .5px .5px 0 #000;
}


/*Select2 Overrides*/
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice{
  font-size: 0.85rem !important;
}

.input-group{
  height: fit-content !important;
}

.select2-selection{
  border-color: #6c757d !important;
  border-width: 1px !important;
  font-size: 0.85rem !important;
}

.select2-results__option--selected {
  background-color: #e6e7e7 !important;
  color: #212529 !important;
}

.select2-results__option--highlighted[aria-selected] {
  background-color: #e6e7e7 !important;
  color: #212529 !important; 
}

#select2-selection__choice__remove span{
  font-size: 0.6em !important;
}

.select2-container *:focus {
  outline: none !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered{
  display: flex !important;
  width: fit-content !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0 !important;
}


/*Stamps Table*/
#recent-table{
  overflow-y: auto;
}

.time-font{
  font-family: 'Roboto Mono', monospace !important;
  font-weight: 600;
}

.badge-secondary{/*Project badge*/
  color: #000 !important;
  font-weight: 200 !important;
  background-color: rgba(247, 247, 247, 0.392) !important;
}

.badge-primary{/*Tag badges*/
  font-weight: 600 !important;
  background-color: rgba(38, 96, 164, 0.76) !important;
}


#recent-table::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

/*Chart*/
.chart-container{
  position: relative; 
}
#charts{
  background-color: rgba(255, 255, 255, 0.6) !important;
}
#options-header{
  font-family: 'Outfit', sans-serif !important;
  font-weight: 600;
}
.dropdown-menu{
  border-width: 1px !important;
  border-color: #000 !important;
  inset: -2px auto auto 0px !important;
}

.badge-nav{
  background-color: rgba(247, 247, 247, 0.8) !important;
  color:#212529 !important;
  font-family: 'Outfit', sans-serif !important;
  font-weight: 600 !important;
}

#project-choices{
  font-family: 'Rubik', sans-serif !important;
}

/*Edit Modal*/
.form-control{
  font-size: 0.85rem !important;
  font-family: 'Rubik', sans-serif !important;
}

/*Media Breakpoints*/
/*Phones*/
@media (min-width:320px)  {
  #wrapper-dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
  }
  #timer-box{
    padding: 4px;
    width: 97%;
    max-width: 450px;
  }
  #recent-table{
    margin-top: 5px !important;
    margin-left: 0px !important;
    max-height: -moz-calc(100vh - 330px);
    max-height: -webkit-calc(100vh - 330px);
    max-height: calc(100vh - 330px);
  }
  .edit-inputs{
    flex-direction: column !important;
    flex: wrap !important;
  }
  #styled-tab-content .tab-content{
    padding: 1px !important;
  }
  .nav-pills .nav-link{
    padding: 0 10px 0 10px;
  }
  .navbar-buttons{
    padding: 0 !important;
  }
  .navbar-brand{
    width:fit-content !important;
  }
  
  .timer-buttons{
    width:min-content !important;
    font-size: 1rem !important;
  }
  .navbar-toggler{
    padding: 1 !important;
  }
  #top-nav{
    order: 2;
  }
  #wrapper-list{
    width: 100%;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before{
    margin: 0 !important;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control{
    padding-right: 0 !important;
    padding-left: 1px !important;
  }
  #list{
    padding: 5px 2px 5px 2px;
    margin: 0;
  }
  #wrapper-charts{
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
  #chart-canvas{
    padding: 4px;
  }
  #chart-navbar{
    width: 97%;
    max-width: 450px;
    margin-bottom: .5rem;
  }
  .chart-container{
    height: calc(100vh - 330px);
    min-height: 300px;
  }
  #projects-container{
    font-size: 0.9rem !important;
  }
  .index-card-body{
    max-width: 950px;
  }
}

/*Tablet,  Desktop*/
@media (min-width:970px)  {
  #outer-container{
    padding: 0 10px 0 10px !important;
    max-width: 1200px;
  }
  #wrapper-index{
    max-width: 1300px;
    padding-right: 20px;
    padding-left: 20px;
  }

  #wrapper-dashboard{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  #timer-box{
    padding: 10px !important;
    max-width: 350px;
  }
  .edit-inputs{
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }
  #recent-table{
    max-width: 675px;
    margin-top: 0 !important;
    margin-left: 10px !important;
    max-height: -moz-calc(100vh - 65px);
    max-height: -webkit-calc(100vh - 65px);
    max-height: calc(100vh - 65px)
  }
  #styled-tab-content .tab-content{
    padding : 5px 15px;
  }
  .nav-pills .nav-link{
    padding: 0 15px 0 15px;
  }
  .timer-buttons{
    width:100% !important;
    font-size: 1.5rem !important;
  }
  .navbar{
    padding: 6px 35px 6px 35px !important;
  }
  .navbar-buttons{
    padding-right: 20px;
  }
  #top-nav{
    order: 0;
  }
  table.dataTable > tbody > tr.child span.dtr-title{
    margin-left: 10px !important;
  }
  #wrapper-charts{
    flex-wrap: nowrap;
  }
  .chart-container{
    height: 80vh;
  }
  #chart-canvas{
    padding: 10px;
  }
  #chart-navbar{
    min-width: 380px;
    margin-right: 10px !important;
    margin-bottom: auto;
    width: 25vw;
  }
  #wrapper-list{
    padding: 0 5vw 0 5vw;
  }
  #list{
    padding: 5px;
  }
  #guest-alert{
    width: 70%;
  }
}